/**
 * Created by chshah on 12/2/2017.
 */
.THIS .lightningUIContainer {
    margin-top: 10px;
}

.THIS .additionalDivider {
    margin-top: 30px;
}

.THIS .customUIContainer {
    margin: 10px;
}

.THIS .slds-form-element__legend  {
    display: none;
}

.THIS .seperator {
    margin-top: 10px;
}

.THIS .settings {
    margin-left: 10px;
}